version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore(ci): "
  - package-ecosystem: gomod
    directory: "/backend"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore(backend): "
  - package-ecosystem: npm
    directory: "/frontend"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore(frontend): "

