name: Go

permissions:
  contents: read

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test-lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'
          check-latest: true
          cache: true
          cache-dependency-path: go.sum

      - name: Verify dependencies
        run: |
          go mod verify
          go mod tidy
          git diff --exit-code go.mod go.sum

      - name: Fmt
        run: |
          if [[ $(gofmt -l . | tee /dev/stderr) ]]; then
            echo "Code is not gofmt-ed, run gofmt!"
            exit 1
          fi

      - name: Security scan
        run: |
          go install golang.org/x/vuln/cmd/govulncheck@latest
          govulncheck ./...

      - name: Lint
        uses: golangci/golangci-lint-action@v9.2.0
        with:
          version: v2.7.2
          args: "--enable=gosec --timeout=5m"

      - name: Build
        run: |
          go build -v ./...

      - name: Test
        run: |
          go test -v -race -coverprofile=coverage.out -covermode=atomic ./...
          go tool cover -func=coverage.out

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          file: coverage.out
          flags: go
          fail_ci_if_error: false
